@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300,300italic,400italic);

body {
    font-family: "Roboto", sans-serif;
}

h1, .title {
    font-size: 2.5rem;
    color: $text;

    &--editor {
        @extend .title;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .05em;
        text-transform: uppercase;
    }
}

strong {
    font-weight: 700;
}
