.editor {
    height: 80vh;

    &__sidebar {
        background: $grey--light;
        border-right: 2px solid $grey;
        box-sizing: border-box;
        float: left;
        height: 100%;
        padding: 1em;
        width: 30%;
        overflow: auto;
    }

    &__sidebar-content {
        
    }

    &__content {
        box-sizing: border-box;
        float: left;
        height: 100%;
        padding: 1em;
        width: 70%;
    }

}
