.editor-input {
	padding-bottom: 1.5em;
	border-bottom: 1px solid darken($grey--light, 10%);
	margin-bottom: 1.5em;

	&:last-of-type {
		margin-bottom: .75em;
	}

	&--alme {
		@extend .editor-input;
	}

	&__label {
		color: $grey;
		font-size: .8em;
		font-weight: 500;
		letter-spacing: .05em;
		text-transform: uppercase;
		margin-bottom: .5em;
	}

	&__input {
		border: 0;
		box-sizing: border-box;
		display: block;
		font-weight: 300;
		letter-spacing: .06em;
		padding: .25em .5em;
		font-size: 1em;
		resize: none;
		width: 100%;
		outline: 0;
		line-height: 1.5;
	}

	&__controls {
		margin-top: .5em;
	}
}
