<!DOCTYPE html>
<html ng-app="reminderApp">
    <head>
        <title>Motivation App</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <h1 class="title--editor">Conversation editor</h1>
                </div>
            </header>
            <main class="editor">
                <div class="editor__sidebar">
                    <div class="editor__sidebar-content">
                        <div class="editor-input">
                            <h3 class="editor-input__label">User</h3>
                            <textarea class="editor-input__input" placeholder="Type here"></textarea>
                            <button></button>
                        </div>

                        <div class="editor-input--alme">
                            <h3 class="editor-input__label">Alme</h3>
                            <textarea class="editor-input__input" placeholder="Type here"></textarea>
                            <div class="editor-input__controls">
                                <button class="button--text">+ Add header</button>
                                <button class="button--text">+ Add link</button>
                            </div>
                        </div>
                        <div class="editor-input">
                            <h3 class="editor-input__label">User</h3>
                            <textarea class="editor-input__input" placeholder="Type here"></textarea>
                            <button></button>
                        </div>

                        <div class="editor-input--alme">
                            <h3 class="editor-input__label">Alme</h3>
                            <textarea class="editor-input__input" placeholder="Type here"></textarea>
                            <div class="editor-input__controls">
                                <button class="button--text">+ Add header</button>
                                <button class="button--text">+ Add link</button>
                            </div>
                        </div>
                        <div class="editor-input">
                            <h3 class="editor-input__label">User</h3>
                            <textarea class="editor-input__input" placeholder="Type here"></textarea>
                            <button></button>
                        </div>

                        <div class="editor-input--alme">
                            <h3 class="editor-input__label">Alme</h3>
                            <textarea class="editor-input__input" placeholder="Type here"></textarea>
                            <div class="editor-input__controls">
                                <button class="button--text">+ Add header</button>
                                <button class="button--text">+ Add link</button>
                            </div>
                        </div>

                        <div class="editor__sidebar-controls">
                            <button class="button--inline">+ user input</button>
                            <button class="button--inline">+ Alme input</button>
                        </div>
                    </div>
                </div>
                <div class="editor__content">
                    test
                </div>
            </main>
        </div>

    </body>
</html>
