<!DOCTYPE html>
<html ng-app="reminderApp">
    <head>
        <title>Motivation App</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <h1 class="title--editor">Conversation editor</h1>

                </div>
            </header>
            <main class="editor">
                <div class="editor__sidebar">

                </div>
                <div class="editor__content">

                </div>
            </main>
        </div>

    </body>
</html>
