.input {
    border-bottom: 1px solid #ccc;
    color: $color--body;
    padding: 1.5em 0;

    &:last-of-type {
        border-bottom: 0;
    }

    &__name {
        color: lighten($color--body, 40%);
        font-size: .8em;
        text-transform: uppercase;
        margin: 0 0 .25em 0;
    }

    &__text {
        color: $color--body;
    }

    &__link-group {
        margin: 1em 0 1em 1em;
    }

    &__link-list {
        margin: 0;
    }

    &__link {
        background: #ddd;
        border-radius: 4px;
        display: block;
        padding: .5em 2em .5em .5em;
        margin: .5em 0;
        position: relative;

        &:hover {
            &:after {
                color: $color--body;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .close {
            color: lighten( $color--body, 20% );
            cursor: pointer;
            margin-top: -11px;
            position: absolute;
            right: .5em;
            top: 50%;
            transition: all .2s ease;
            font-size: 20px;
        }

        input, textarea {
            background: none;
            border: 0;
            color: $color--body;
            display: block;
            font-size: 1em;
            height: 22px;
            margin: 0 30px 0 0;
            outline: 0;
            padding: 0;
            resize: none;
            width: 100%;
        }
    }

    &__buttons {
        margin: 0;

        &--link-group {
            @extend .input__buttons;
            margin: .25em 0 0 0;
        }
    }

    &__add-new {
        background: #ddd;
        padding: 1em;
        text-align: center;


    }


    &--user {
        @extend .input;

        text-align: right;
    }
}
