.alme-header {
	background: $header--background;
	color: $header--color;

	&__title {
		display: inline-block;
	}

	&__tools {
		float: right;
		
		li {
			display: inline-block;
		}

		button {
			appearance: none;
			background: 0;
			border: 0;
		}
	}
}
