.login {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;

	&__form {
		background: #fff;
		padding: 2em;
		border-radius: 4px;
	}

	&__register {
		display: inline-block;
		vertical-align: middle;
		float: right;
		line-height: 33px
	}
}
